html { 
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100%
}

.indent { text-indent: 20px }
.justify { text-align: justify }
.center { text-align: center }

.large { font-size: 110% }
.largest { font-size: 150% }

.bold { font-weight: 700 }

.roboto { font-family: Roboto, Arial, sans-serif }

.flex { display: flex }
.flex.wrap { flex-wrap: wrap }

.flex.column { flex-direction: column }
.flex.rowreverse { flex-direction: row-reverse }

.flex.stretch { align-items: stretch }
.flex.jccenter { justify-content: center }

.flex.gap { gap: 10px }

.flex .grow { flex-grow: 1 }

.pad { padding: 10px }

.pady, .padbottom {  padding-bottom: 10px }
.pady, .padtop {  padding-top: 10px }
.padx, .padright {  padding-right: 10px }
.padx, .padleft {  padding-left: 10px }

.white { color: white }
.inherit { color: inherit }

.bgcwhite { background: white }
.bgcgray { background-color: #f5f5f5 }
.bgcblue { background-color: #4885ed }

.w100 { width: 100% }
.mw200mm { width: 200mm }
.mw100mm { width: 100mm }

.transparent, .transparent\:visited:visited { opacity: .7 }

.nodecoration { text-decoration: none }
.underline\:hover:hover { text-decoration: underline }

@media (min-width: 768px) {
  .flex.dsk-nowrap { flex-wrap: nowrap }

  .dsk-mw90mm { max-width: 90mm }
  .dsk-mw200mm { max-width: 200mm }
}
